.search-bar {
    border-radius: 5px;
    overflow: hidden;
    width: 700px;
    padding: 23px 25px;
    margin-left: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    background-color: white;

    button {
        background-color: transparent;
        border: none;
        color: hsl(180, 29%, 50%);
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
    }
}

.search-items {
    display: inline-flex;
    gap: 10px;
    font-size: 13px;
    color: hsl(180, 29%, 50%);

}

.search-item {
    background-color: hsl(180, 31%, 95%);
    border-radius: 5px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;

    b {
        padding: 6px;
    }

    button {
        padding: 3.5px 5px;
        border-radius: 0 5px 5px 0;
        background-color: hsl(180, 29%, 50%);
        ;
    }
}